<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="personBean" class="org.com.exercise1.Person1">
		<property name="name" value="SHUBHAM" />
	</bean>
	<bean id="employeeBean" class="org.com.exercise1.Employee1"
		parent="personBean">
		<property name="employeeNumber" value="1111" />
	</bean>
</beans>