<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
default-init-method="init"
default-destroy-method="destroy">


<bean id="country" class="org.com.Country">
<property name="countryName" value="India"/>
</bean>


<!--  <bean id="country" class="org.com.Country" init-method="init" destroy-method="destroy">
<property name="countryName" value="India"/>
</bean>-->

</beans>
